/* Raccourci pour les commentaires idem que pourle html: "control" + "/" */

/* "*" signifie prioritaire sauf si indication contraire */

/* ci dessous, le reset de meyer, permet que tous les navigateurs lisent la même chose 
trouvé ici
https://meyerweb.com/eric/tools/css/reset/
Faire attention ceci dit avec le javascript, car peut le perturber
{
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*/

*
{
    text-align: right;
}
body
{
    background: rgb(190, 134, 243);
}
header
{
    background-color: rgb(19, 103, 160);
    color: rgb(223, 223, 51);
    height: 100px;
}
nav
{
    background-color: rgb(139, 89, 27);
    height:60px;
}
section
{
    background-color: azure;
    height: 550px;
}
article
{
    background-color: blanchedalmond;
    height: 66px;
}
.jaune
{
    background-color: yellowgreen;
}
#noir
{
    background-color: rgb(56, 143, 219);
    color: aliceblue;
    text-align: justify;
    font-size: 25px;
}
footer
{
    background-color: brown;
    height: 100px;
}
nav, footer
{
    color: rgb(238, 155, 155);
}