body{
    margin: 0 auto;
    background-color: lightgrey;
}
div{
    width: 90%;
    margin: 0 auto;
    background-color: mistyrose;
}
.boite{
    height: 11vh;
    width: 18vh;
    padding: 5vh;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfJ70BsU_UzsK1hATdcGr6VgvklvV23QqD6Qfu1mKrmWjJAqsKfA);
    background-repeat: no-repeat;
    border: 5px double orchid;
    margin: 2vh;
    float: left;
    transition: margin 3.5s;
    /* gère la vitesse d' animation du flottement*/
}
.boite:hover{
    margin-top: 10vh;
}
.clear{
    clear: both;
    /* supprime l' effet flottant, destructure l' ensemble */
}
p{
    background-color: lightblue;
}
p span{
    background: yellow;
    color: purple;
}
.arrondi{
    height: 15vh;
    width: 15vh;
    padding: 3vh;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4yDzQ0h_64LZURoFmPJaHy7AgFF1IUtwo_k7UYcyJrmMePl0n);
    border: 8px double rgb(160, 35, 160);
    border-radius: 20% 90%;
    margin: 3vh;
    float: right;
    transition: margin 0.5s;
}
.arrondi:hover{
    margin-top: 10vh
}
.box{
    height: 15vh;
    width: 15vh;
    padding: 3vh;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfH2fim3-qySuO9piHL2NWS5gcPayhbXgA2eC1eKdPbreY0eroHw);
    border: 8px double rgb(71, 18, 194);
    border-radius: 40%;
    margin: 3vh;
    float: left;
    transition: margin 1.5s;
}
.box:hover{
    margin-top: 10vh
}
.boxR{
    height: 15vh;
    width: 15vh;
    padding: 3vh;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfH2fim3-qySuO9piHL2NWS5gcPayhbXgA2eC1eKdPbreY0eroHw);
    border: 8px double rgb(71, 18, 194);
    border-radius: 40%;
    margin: 3vh;
    float: right;
    transition: margin 1.5s;
}
.boxR:hover{
    margin-top: 10vh
}