*{
    box-sizing: border-box;
}
body, html{
    height: 100%;
    margin: 0%;
}
#accueil{
    background-image: url(../images/zappa2.jpg);
    /* image ne s' applique qu' au menu zappa, pas aux autres pages*/
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin-top: 20px;
    margin-left: 20px;
}
#lyrics{
    background-image: url(../images/zappa.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    text-align: center ;
    margin-top: 20px;
}
audio{
    width: 150px;
    margin: 0 50px 0 50px;
}
p1{
    font: 12pt kurt ;
    color: #993300 ;
}
p1 a{
    font: 12pt kurt ;
    color: #993300 ;
    text-decoration: none
}
p2{
    font: 12pt kurt ;
    color: #c75217 ;
}
p3{
    font: 10pt kurt ;
    color: #9a4115 ;
}
h1 {
    font: bold 50pt carton ;
    color: #993300 ;
    margin-top: 10px;
    text-align: center;
}
nav{
    margin: 50px 0 50px 0;
    font: 8pt kurt ;
    color: #993300 ;
    text-align: center;
}
nav a{
    font: 8pt kurt ;
    color: #993300 ;
    text-decoration: none;
}
/********************************************** special pour  l' image hover ***********************************/

.tile-wrap {
    display: inline-block;
    position: relative;
    margin: 20px;
    overflow: hidden;
    border: solid 9px hsl(51, 100%, 35%);
  }
  .tile-image {
    display: block;
    width: 280px;
    height: 280px;
    transition: .7s;
  }
  .tile-wrap:hover .tile-image {
    transform: scale(1.15);
    -webkit-filter: grayscale(.7);
    filter: grayscale(.7);
  }
  .tile-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 .8em;
    background: hsl(51, 100%, 92%);
    /* color: #BB3E92; */
    color: hsl(51, 100%, 35%);
    transition: transform .5s;
    transform: translateY(110%);
    box-shadow: 0 -4px 33px rgba(0,0,0,.7);
  }
  .tile-wrap:hover .tile-text {
    transform: translateY(0);
  }
  .tile-title {
    font-size: 1.3em;
    transform: translateY(100%);
    transition: transform .5s .15s ease-out;
  }
  .tile-wrap:hover .tile-title {
    transform: none;
  }
  .tile-description {
    transform: translateY(100%);
    transition: transform .5s .3s ease-out;
  }
  .tile-wrap:hover .tile-description {
    transform: none;
  }
  /* **************************************fin image hover********************************************** */