#header h1{
    background-image:url(../img/background.jpg);
    height: 20vh;
    text-align: center;
    Color: white;
    margin-bottom: 5vh;
}
.slide{
    width: 48.5;
    height: 47.5vh;
    margin-bottom: 5vh;
}
.form{
    height: 10vh;
    margin-bottom: 5vh;
    font-weight: bold;
}
.txt{
    background: rosyBrown;
    height: 25vh;
}
.chat{
    /* background: darkblue; */
    width: 14.5vw;
    height: 25vh;
}
.silhouette_chat{
    width: 14.5vw;
    height: 25vh;
}
.footer{
    background: navy;
    height: 5vh;
    color: white;
}