#header{
    background-image:url(../img/background.jpg);
    height: 20vh;
    text-align: center;
    Color: white;
}
.slide{
    width: 48.5;
    height: 47.5vh;
}
.form{
    background: bisque;
    height: 10vh;
}
.txt{
    background: rosyBrown;
    height: 10vh;
}
.chat{
    background: darkblue;
    height: 10vh;
}
.footer{
    background: navy;
    height: 10vh;
}