<h1>
    Bienvenue dans Le Tour des héros!
  </h1>

 <!--<h1>
    Bienvenue dans la Tour des {{ heroes.length }} héros!
     heroes.length ( array.length) pour récupérer le nombre dans notre tableau ( toujours évolutif en temps réel)
  </h1>-->


<!-- <p>
  Bonjour; {{ name | uppercase }}
   pour ecrire en majuscules en tps réel
</p> -->

<!-- Votre nom: <input type="text" name="name" id="myName" [(ngModel)] = "name" /> -->
<!-- two way binding, double lien avec le script, grace a crochet/parentheses/ accolades ??? -->


<!-- <app-heroes-list></app-heroes-list> -->
<!-- cette balise remplace le code ci dessous
On l' obtient via notre heroes-list.component.ts ( a coté du selector) -->

<!-- <ul> -->
  <!-- directives structurelles => boucles -->
  <!-- <li *ngFor="let hero of heroes">{{ hero }} <span *ngIf="hero === name"> , c' est mézigue</span></li> -->
  <!-- *ngFor => boucle for en Angular ( let = var )-->
  <!-- *nIf => boucle if en Angular -->
  <!-- affiche chacun des héros de mon tableau -->

<!-- </ul> -->

<!-- pour inter-réagir sur un bouton avec Angular -->


<router-outlet></router-outlet>
