body{
    background-color: gray;
    font-family:'Roboto Slab';
}
.container{
    width: 100em;
    height: 85em;
    margin: auto;

}
header{
    width: 90em;
    height: 13em;
    margin: auto;

}
.header_haut{
    height: 10em;
    background-color: white;
    border-radius: 15% 15% 0 0;
    

}
.logo{
    width: 20%;
    background: no-repeat;
    padding-top: 0.2em;
    padding-left: 0.5em;
    float: left;
}
.titre{
    width: 60%;
    float: left;
    text-align: center;
}
.titre h1{
    font-family: 'Black Ops One';
    font-size: 4em;
    color: rgb(58, 58, 58);
}
hr{
    margin-top: -3em;
    color: red;
}
.onglets{
    width: 10%;
    float: left;
    margin-left: 6em;
    margin-top: 2em;

}
.onglet_haut a p{
    background-color: rgb(58, 58, 58);
    width:10em;
    height:2em;
    line-height: 1.8em;
    color:blanchedalmond;
    text-align: center;
    border-radius: 10%;
    text-decoration: none;
}
.onglet_bas a p{
    background-color: rgb(170, 4, 4);
    width:10em;
    height:2em;
    line-height: 1.8em;
    color:blanchedalmond;
    text-align: center;
    border-radius: 10%;
    text-decoration: none;
}
/************************************** a parametrer *******************************/
ul#menu{
    height: 3em;
    margin-top: 0em; 
    margin-bottom: 1em;
    padding: 0;
    background-color: rgb(58, 58, 58);
    list-style: none;
    /* pour cacher les puces */
    border-bottom: 2px solid rgba(255, 235, 205, 0.719);
}
ul#menu li{
    float: left;
    /*  on rend les li flottants pour leur permettre d' aller a l' horizontale */
    text-align: center;
}
ul#menu li a{
    width: 14em;
    margin-left: -2em;
    line-height: 2em;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    display: block;
    /* pour pouvoir dimensionner les "a"*/
    text-decoration: none;
    /* va enlever le underline du lien */
}
/* ********************************************************************************** */
main{
    height: 62.5em;
    background: url(../images/bkg-body.jpg)no-repeat;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 2%;
    box-shadow: 6px 6px 6px rgb(58, 58, 58);

}
.colonne_gauche{
    height: 39em;
    width: 40em;
    margin-top: 19em;
    margin-bottom: 3em;
    margin-left: 2em;
    padding-top: 1em;
    background-color: rgb(199, 197, 197);
    border-radius: 5%;
    box-shadow: 2px 2px 2px rgb(58, 58, 58);
    float: left;

}
.photo_classe{
    width: 36em;
    height: 20.25em;
    margin-left: 2em;
    box-shadow: 2px 2px 2px rgb(58, 58, 58);


}
.texte_gauche{
    width: 36em;
    height: 10em;
    padding-top: 0.5em;
    margin-top: 0.5em;
    margin-left: 2em;
    text-align: center;
    font-weight: bold;
    background-color: rgb(252, 239, 220);
    box-shadow: 2px 2px 2px rgb(58, 58, 58);

}
.lancer{
    width: 36em;
    height: 1em;
    padding-top: 0.5em;
    margin-top: 1em;
    margin-left: 2em;
}
.application{
    width: 10em;
    height: 2em;
    font-weight: bold;
    margin-left: 18em;
    background-color: rgb(252, 222, 178);
    box-shadow: 2px 2px 2px rgb(58, 58, 58);
}
.colonne_droite{
    height: 39em;
    width: 40em;
    margin-top: 20em;
    margin-bottom: 3em;
    margin-left: 58em;
    /* background-color: rgb(247, 157, 157);
    border-radius: 5%; */

}
.colonne_hd{
    height: 19em;
    width: 40em;
    background-color: rgb(199, 197, 197);
    border-radius: 5%;
    box-shadow: 2px 2px 2px rgb(58, 58, 58);
}
.livre1{
    height:17em;
    width: 12em;
    float: left;
}
.svt{
    margin-top: 1em;
    margin-left: 1em;
    box-shadow: 3px 3px 10px rgb(58, 58, 58);
}
.texte1{
    height: 17em;
    width: 20em;
    float: left;
    margin-left: 7em;
    text-align: right;
    
    
}
.texte_livre1{
    font-weight: bold;
    padding-right: 0.5em;
    background-color: rgb(252, 239, 220);
    box-shadow: -3px 3px 3px rgb(58, 58, 58);
}
.colonne_bd{

    height: 19em;
    width: 40em;
    margin-top:1em;
    background-color: rgb(199, 197, 197);
    border-radius: 5%;
    box-shadow: 2px 2px 2px rgb(58, 58, 58);
}
.livre2{
    height:17em;
    width: 12em;
    float: left;
}
.dixit{
    margin-top: 1em;
    margin-left: 5.5em;
    box-shadow: -3px 3px 10px rgb(58, 58, 58);
}
.texte2{
    height: 17em;
    width: 20em;
    float: left;
    margin-left: 1em;
    text-align: left;
}
.texte_livre2{
    font-weight: bold;
    padding-left: 0.5em;
    background-color: rgb(252, 239, 220);
    box-shadow: 3px 3px 3px rgb(58, 58, 58);
}
footer{
    width: 90%;
    height: 5em;
    background-color: rgb(58, 58, 58);
    margin:auto;
    border-radius: 0 0 15% 15%;
    border-top: 2px solid rgba(255, 235, 205, 0.719);
    color: blanchedalmond;
    text-align: center;
}
.qsn{
    width: 25%;
    height: 5em;
    float: left;
}
.contact{
    width: 25%;
    height: 5em;
    float: left;
}
.qr{
    width: 25%;
    height: 5em;
    float: left;
}
.reseaux_sociaux{
    width: 25%;
    height: 5em;
    float: left;
}
.qsn a{
    color: blanchedalmond;
    text-decoration: none;
    line-height: 40px;
}
.contact a{
    color: blanchedalmond;
    text-decoration: none;
    line-height: 40px;
}
.qr a{
    color: blanchedalmond;
    text-decoration: none;
    line-height: 40px;
}
.reseaux_sociaux a{
    letter-spacing: 5px;
    font-size: 18px;
    color: blanchedalmond;
    text-decoration: none;
    line-height: 40px;
}