*{
    box-sizing: border-box;
  }
body{
    background-color:black;
    font-family: 'bangers';
}
.navbar-dark{
    background: #000 !important;
    border-bottom: 1px solid gold;
}
.navbar-dark a{
    font-family: 'bangers';
    font-size: 1.5rem;
    color: gold !important;
    margin-left: 1rem;
}
h1{
    text-align: center;
    margin-top : 3rem;
    font-family: 'bangers';
    font-size: 5rem;
    color: gold;
    text-shadow: 1px 1px 3px crimson;
}
h4{
    text-align: center;
    margin-top : 1rem;
    font-family: 'bangers';
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: gold;
    text-shadow: 1px 1px 3px crimson;
}
.btn{
    margin-right: 1rem;
    font-family: 'bangers';
}
header{
    background: url(../image/background.jpg)no-repeat;
    background-size: cover;
    border-top: 1px solid gold;
    border-bottom: 2px solid gold;
}
.barre_recherche{
    display: flex;
    justify-content: space-around;
    width: 35%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: rgba(179, 45, 5, 0.534);
    padding: .7rem;
    border-radius: 2%;
    box-shadow: 2px 2px 2px black;
    font-family: 'bangers';
}
main{
    
    background: url(../image/bg11.jpg) 50%;
}
.circuit{
    margin-top: 2rem;
    border: 1px solid gold;
    padding: 1rem;
    color: gold;
    text-align: center;
    /* background-color: rgb(44, 1, 1); */
    background-color: black;
}
.circuit p{
    margin-top: 1rem;
}
.villes_circuit{
    width: 100%;
    height: 75%;
}
.text_slider{
    font-size: 2rem;
}