.container{
    width: 90%;
    height: 90em;
    background: blanchedalmond;
    margin: 0 auto;
}
h1{
    text-align: center;
    padding-top: 1em;
}
.longue{
    width: 30%;
    height: 80em;
    background-color: rgb(248, 203, 56);
    margin: 2% 2%;
    float: left;
}
.rectangle{
    width: 28%;
    height: 33em;
    float: left;
    background-color: rgb(248, 203, 56);
    margin: 2% 2%;
}
.basG, .basD{
    width: 28%;
    height: 7em;
    margin: 1% 2%;
    background-color: rgb(250, 226, 149);
    float: left;
}
.basG .carreG{
    width: 21%;
    height: 6em;
    float: left;
    background-color: rgb(250, 193, 4);
    margin: 2% 2%;
}
.basG .carreD{
    width: 21%;
    height: 6em;
    float: left;
    background-color: rgb(252, 217, 104);
    margin: 2% 25%;
}
/* .petite_Eg{
    width: 6%;
    height: 5em;
    float: left;
    background-color: rgb(250, 193, 4);
    margin: 2% 2%;
}
.petite_Ig{
    width: 6%;
    height: 5em;
    float: left;
    background-color: rgb(248, 218, 118);
    margin: 2% 14%;
}
.petite_Id{
    width: 6%;
    height: 5em;
    float: left;
    background-color: rgb(248, 218, 118);
    margin: 2% -10%;
}
.petite_Ed{
    width: 6%;
    height: 5em;
    float: left;
    background-color: rgb(250, 193, 4);
    margin: 2% 8%;
} */