label{
    background-color: rgb(175, 250, 225);
    color: rgb(65, 2, 65);
    width: 190px;  /*Largeur*/
    float: left;
}
h1{
    text-align: center;
    color: rgb(141, 17, 17);
    border: 1px double brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
h2{
    color: rgb(141, 17, 17);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}