
body{
    width: 80%;
    margin: auto;
    background: rgb(245, 221, 206);
}
img{
    border: 2px double brown;
    border-top: 10px;
    /* Bout de code qui suit, pour centrer mon image */
    display: block;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}
label{
    background-color: rgb(220, 250, 240);
    text-align: center;
    color: rgb(65, 2, 65);
    width: 190px;
    float: left;
    border: 1px solid brown;
    padding: 1px;
}
h1{
    text-align: center;
    color: rgb(141, 17, 17);
    border: 2px double brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    width:350px;
    margin-left: auto;
    margin-right: auto;
}
h2{
    color: rgb(141, 17, 17);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}
table{
    width: 75%;
    border: 2px solid rgb(7, 7, 153);
    border-collapse: collapse;
    margin: 10px;
}
thead{
    background-color: rgb(220, 250, 240);
    border: 2px solid rgb(7, 7, 153);
}
th{
    border: 1px dotted rgb(7, 7, 153);
    padding: 4px;
    background-color: rgb(220, 250, 240);
    width: 25%;
}
td{
    font-size: 100%;
    border: 1px dotted rgb(7, 7, 153);
    text-align: center;
    padding: 5px;
}
td:first-child{
    text-align: left;
    font-weight: bold;
    background-color: rgb(220, 250, 240);
}
caption{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: rgb(141, 17, 17);
    margin-bottom: 5px;
}
.pris{
    background-color: rgb(252, 210, 159);
}
.dispo{
    background-color: rgb(124, 243, 243);
}
.occupé{
    text-align: center;
    width: 50px;
    Border: 2px solid rgb(7, 7, 153);
    background-color: rgb(252, 210, 159);
    margin-bottom: 2px;
}
.disponible{
    text-align: center;
    width: 50px;
    Border: 2px solid rgb(7, 7, 153);
    background-color: rgb(124, 243, 243);
    margin-bottom: 5px;
} 
form{
    margin-bottom: 10px;
}